{% extends 'test.html'%} {% block page_title %}
<h3>إدارة الاقسام</h3>

{% endblock page_title %} {% block content %}
<section class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %} {% if message.tags == "error" %}
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1 " role="alert" data-brk-library="component__alert">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fa fa-times danger "></i>
                        </span>
                        <span class="sr-only">Close</span>
                    </button>
                    <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                    <strong class="font__weight-semibold">Oh snap!</strong> {{message}}
                </div>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                                              <span aria-hidden="true">
                              <i class="fa fa-times greencross"></i>
                              </a></span>
                                              <span class="sr-only">Close</span> 
                                          </button>
                <i class="start-icon far fa-check-circle faa-tada animated"></i>
                <strong class="font__weight-semibold">Well done!</strong> {{message}}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">

            <div class="card manage sc">
                <div class="card-header">
                    
                   

                </div>
                <table class="table table-bordered table-hover dataTable" id="plist">
                    <thead>

                        <tr>
                            <th>رقم</th>
                            <th>الاسم </th>
                            <th>الوصف </th>
                            <th>الحالة</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for coustemSection in coustemSections %}
                        <tr class="hov">
                            <td>{{forloop.counter}}</td>
                            <td>{{coustemSection.name}}</td>
                            <td>{{coustemSection.desc}}</td>
                           
                           

                            <!-- Checks expired drugs -->

                           
                            <!-- Checks Not expired drugs -->


                            <!-- End Expire -->
                            <td class="d-flex justify-content-center">
                                <a href="{% url 'update_section' coustemSection.id  %}" class="btn btn-sm btn-success">تعديل</a> &nbsp;
                                <a href="{% url 'remov_section' coustemSection.id %}" class="btn btn-sm btn-danger">حذف</a> &nbsp;
                                <!-- <a href="{% url 'show_product' coustemSection.id %}" class="btn btn-sm btn-warning">عرض</a>
                                -->
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
            </div>
            <div class="card-tools d-flex">
                                  
                     

                <a class="btn btn-sm btn-info mr-2" href="/addsections" role="button">+ إضافة قسم جديد</a>

            </div>
        </div>
    </div>
</section>

{% endblock %}